.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
body {
  margin-top: 10px;
  background: #ffffff url(../images/body-back.png) top left repeat-x;
}
div.left {
  float: right;
  width: 49%;
}
div.right {
  float: left;
  width: 49%;
}
a { outline: none; }
#wrapper {
  background: transparent url(/images/wrapper-back.png) top center no-repeat;
  padding: 25px 20px 20px;
  position: relative;
}
body.two-col #wrapper { background-image: url(/images/wrapper-back-2.png); }
.container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: block;
}
#sidebar {
  display: inline;
  float: left;
  width: 150px;
  margin-right: 10px;
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
#sidebar h3 { margin-bottom: 0.5em; }
body.one-col #content {
  display: inline;
  float: left;
  width: 950px;
}
body.two-col #content {
  display: inline;
  float: left;
  width: 750px;
}
#header {
  position: relative;
  color: #2e6ab1;
  clear: both;
}
#header a { color: #2e6ab1; }
#header a:hover { color: #e5f2f8; }
#footer {
  padding-top: 2em;
  clear: both;
}
#footer div.left { width: 45%; }
#footer div.right { width: 55%; }
h1 { font-size: 2.5em; }
.form-buttons, .clear { clear: both; }
input.title { width: auto; }
p.follow-all {
  font-size: 1.3em;
  text-align: center;
  display: block;
}
p img {
  float: left;
  margin-right: 5px;
  vertical-align: middle;
}
