.prices { font-weight: bold; }
.prices #product-details .prices { font-size: 1.25em; }
.price.selling { color: #2e6ab1; }
#product-details .price.selling { font-size: 1.5em; }
.price.diff {
  font-style: italic;
  font-weight: normal;
  color: #666666;
}
